{% extends "wafer/base_form.html" %}
{% load crispy_forms_tags %}

{% block title %}Registration List Opt-In - {{ WAFER_CONFERENCE_NAME }}{% endblock title %}
{% block content %}
<h1>Share Data with Taiwanese government sponsors</h1>
<p>
  DebConf18 received some sponsorship from the Taiwanese government, through the
  National Chiao Tung University (NCTU), the National Centre of High-performance
  Computing (NCHC), and the MEET TAIWAN program.
</p>
<p>
  Some of this funding requires these organisations to show that our conference
  was attended by a sufficiently international audience. For this, they need a
  list of <em>full names</em> and <em>nationalities</em>.
  You don't have to opt-in to this, but we do need at least 100 people to, to
  receive this funding.
</p>
{% crispy form %}
{% endblock %}
